* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}


header {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 20px;
}


nav {
    background: #ffc400;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
}


article img {
    width: 50%;
    margin: 15px 0;
}


.video-section,
.audio-section {
    margin-top: 40px;
}


footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
